
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted"></i> <span> Report </span> <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li class="nav-sub-header"><a href="@Url.Action("ActivityLog", "ActivityLogReport", new { area="Portal" })"><span>Activity Log</span></a></li>
    </ul>
</li>

