

<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Library Management </span> <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">

        <li> <a href="@Url.Action("Index","Section", new { area="APPPortal"})"> Manage Section </a></li>
        <li> <a href="@Url.Action("Index","Book", new { area="APPPortal"})"> Manage Book </a></li>
        <li> <a href="@Url.Action("Index","BookCategory", new { area="APPPortal"})"> Manage Book Category </a></li>
        <li> <a href="@Url.Action("ManageBookSource","BookSource", new { area="APPPortal"})"> Manage Book Source </a></li>

    </ul>
</li>



