@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_APPAccountPartial.cshtml";
}


<div class="sign-container">
    <div class="text-center">
        <h3>@ViewBag.Title.</h3>
    </div>
    <div class="sign-in-form">
        <div class="form-group">
            Your password has been reset
        </div>
        <a href="@Url.Action("Login","Account")"><small>Return to Login</small></a>
    </div>
    <div class="text-center copyright-txt">
        <small>MegaDin - Copyright © 2017</small>
    </div>
</div>

